.josh span{
    width: 100%;
    height: auto;
    font-weight: bolder;
    text-shadow: -1px 2px 2px black;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    text-align: center;
    color: green;
    padding: 20px 0;
}
.jos div ul{
    list-style: decimal-leading-zero;
    padding: 24px;
}
.jos div ul li{
    padding: 3px 0;
}
.jos a{
    text-decoration: none;
    color: inherit;
    border: 1px solid green;
    padding: 5px 20px;
    border-radius: 5px;
}
.jos a:hover{
    text-decoration: none;
    color: white;
    border: 1px solid green;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: green;
}
.joseph{
    margin-bottom: 50px;
}